<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chs</key>
		<string>[定]</string>
		<key>code</key>
		<string>[gif_1]</string>
		<key>gif</key>
		<string>定.gif</string>
		<key>png</key>
		<string>定@2x.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[跪求]</string>
		<key>code</key>
		<string>[gif_2]</string>
		<key>gif</key>
		<string>跪求.gif</string>
		<key>png</key>
		<string>跪求@2x.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[害羞]</string>
		<key>code</key>
		<string>[gif_3]</string>
		<key>gif</key>
		<string>害羞.gif</string>
		<key>png</key>
		<string>害羞@2x.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[汗]</string>
		<key>code</key>
		<string>[gif_4]</string>
		<key>gif</key>
		<string>汗.gif</string>
		<key>png</key>
		<string>汗@2x.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[惊吓]</string>
		<key>code</key>
		<string>[gif_5]</string>
		<key>gif</key>
		<string>惊吓.gif</string>
		<key>png</key>
		<string>惊吓@2x.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[抠鼻]</string>
		<key>code</key>
		<string>[gif_6]</string>
		<key>gif</key>
		<string>抠鼻.gif</string>
		<key>png</key>
		<string>抠鼻@2x.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[泪别]</string>
		<key>code</key>
		<string>[gif_7]</string>
		<key>gif</key>
		<string>泪别.gif</string>
		<key>png</key>
		<string>泪别.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[你好]</string>
		<key>code</key>
		<string>[gif_8]</string>
		<key>gif</key>
		<string>你好.gif</string>
		<key>png</key>
		<string>你好@2x.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[你牛]</string>
		<key>code</key>
		<string>[gif_9]</string>
		<key>gif</key>
		<string>你牛.gif</string>
		<key>png</key>
		<string>你牛@2x.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[怕了吧]</string>
		<key>code</key>
		<string>[gif_10]</string>
		<key>gif</key>
		<string>怕了吧.gif</string>
		<key>png</key>
		<string>怕了吧@2x.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[睡觉]</string>
		<key>code</key>
		<string>[gif_11]</string>
		<key>gif</key>
		<string>睡觉.gif</string>
		<key>png</key>
		<string>睡觉@2x.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[逃跑]</string>
		<key>code</key>
		<string>[gif_12]</string>
		<key>gif</key>
		<string>逃跑.gif</string>
		<key>png</key>
		<string>逃跑@2x.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[同情]</string>
		<key>code</key>
		<string>[gif_13]</string>
		<key>gif</key>
		<string>同情.gif</string>
		<key>png</key>
		<string>同情@2x.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[笑死了]</string>
		<key>code</key>
		<string>[gif_14]</string>
		<key>gif</key>
		<string>笑死了.gif</string>
		<key>png</key>
		<string>笑死了@2x.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[疑问]</string>
		<key>code</key>
		<string>[gif_15]</string>
		<key>gif</key>
		<string>疑问.gif</string>
		<key>png</key>
		<string>疑问@2x.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[诱惑]</string>
		<key>code</key>
		<string>[gif_16]</string>
		<key>gif</key>
		<string>诱惑.gif</string>
		<key>png</key>
		<string>诱惑@2x.png</string>
	</dict>
</array>
</plist>
